.App {
  text-align: center;
}
.header {
  margin: 0 auto;
  height: 70px;
  width: 100%;
  text-transform: uppercase;
  background-color: rgb(233, 236, 179);
}
.logo {
  float: left;
  display: inline-block;
  margin-left: 50px;
}
.nav {
  float: left;
  list-style-type: none;
  text-transform: initial;
  color: rgb(102, 59, 145);
}
.nav li {
  float: left;
  padding-left: 15px;
  display: inline-block;
  padding-top: 5px;
}
.nav li:hover{
  color: white;
  padding:5px;
  text-transform: uppercase;
}
.nav li a{
 text-decoration: none;
}
select {
  width: 30%;
  height: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}
.country-details{
  width: 90%;
  margin: 0 auto;
  padding: 0 auto;
}
.country-name{
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}
.country-name span{
  color: brown;

}
.country-flag{
  width: 40%;
  float: left;
  margin-left: 5%;
}
.country-map{
  width: 40%;
  float: left;
  margin-right: 5%;
  margin-left: 5%;
}
.clear{
  clear: both;
}
.country-details h3{
  margin-top: 50px;
}

.footer{
  height: 70px;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgb(233, 236, 179);
  margin-top: 100px;
}
.footer h4{ display: inline;
float: left;}
.footer img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline;
  float: right;
}